{% extends "base.html" %}
{% block content %}
    <h1>{{ section.title }}</h1>
    {{ section.content | safe }}
    <div class="article-list">
        {% for page in section.pages %}
      <article class="preview">
       <h3><a href="{{ page.permalink }}">{{ page.title }}</a></h3>
       {% if page.description %}
          <p>{{ page.description | safe }}</p>
       {% elif page.summary %}
          <p>{{ page.summary | safe }}</p>
       {% endif %}
    </article>
        {% endfor %}
    </div>
{% endblock content %}
